<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/last/app/assets/stylesheets/customer_support.css">
    <title>CustomerSupport</title>
</head>
<body>
    
        <div class="devise-form">
        
        <h1>ContactUs</h1>
        <p> ph.no:3434342424324 </p>
        </div>
    
</body>
</html>