<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project_e/app/assets/stylesheets/home.css">

    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Our Website</h1>
    <p>Click the button below to go to CustomerSupport:</p>

    <a href = 'customer_support'> click to go to customer support</a>
</body>
</html>
